<h3>Create an Account</h3>

<form 
    [formGroup]="authForm"
    class="ui form"
    (ngSubmit)="onSubmit()"
>
    
    <app-input 
        label="Username" 
        [control]="$any(authForm.get('username'))"
        inputType="text">
    </app-input>
    <app-input 
        label="Password" 
        [control]="$any(authForm.get('password'))"
        inputType="password">
    </app-input>
    <app-input 
        label="Password Confirmation" 
        [control]="$any(authForm.get('passwordConfirmation'))"
        inputType="password"> 
    </app-input>

    <ng-container *ngIf="authForm.errors">
        <div 
            class="ui red basic label" 
            *ngIf="
                authForm.get('password')!.touched && 
                authForm.get('passwordConfirmation')!.touched"
        >
            <p *ngIf="authForm.errors.passwordsDontMatch">
                Password and Password Confirmation must match.
            </p>
            <p *ngIf="authForm.errors.noConnection">
                No internet detected. Failed to sign up.
            </p>
            <p *ngIf="authForm.errors.unknownError">
                Failed to sign up.
            </p>
        </div>
    </ng-container>

    <div>
        <button class="ui submit button primary" type="submit">
            Submit
        </button>

    </div>
</form>